rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    // Allow public read access to all files.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin(); // Only admin users can upload or delete files.
    }
  }
}
